/* Reset and base styles */
body {
  font-family: 'Roboto', sans-serif,;
  margin: 0;
  padding: 0;
  background-color: off-white;
}

header {
    background-color: gray;
    padding: 0 25px;    
}

main {
  padding: 2rem;
  
}

.purpose{
    padding: 0 10px;
}

ul{
    list-style-type: none;
}

.images .img{
    width: 400;
    height: 350;
}